* {
    font-family: 'Josefin Sans';
}
picture {
    float: left;
    width: 50%;
}

.background {
    float: left;
    width: 50%;
}

.images {
    display: flex;
    flex-flow: row wrap;
}

.images:after {
    content: "";
    display: table;
    clear: both;
}

.comingSoon {
    font-size: 50px;
    font-weight: 400;
    position: absolute;
    bottom: 400px;
    left: 160px;
    letter-spacing: 0.3em;
    text-align: left;
    display: block;
}

.were {
    position: absolute;
    font-size: 50px;
    font-weight: 300;
    bottom: 510px;
    left: 163px;
    letter-spacing: 0.3em;
    color: hsla(0, 36%, 70%, 0.712);
    text-align: left;
    display: block;
}

.mainText {
    position: absolute;
    bottom: 25%;
    left: 10%;
    text-align: left;
    font-size: 16px;
    color: hsla(0, 36%, 70%, 0.712);
    }

input {
    text-align: left;
    font-size: 16px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border: 1px solid hsla(0, 36%, 70%, 0.411);
    border-radius: 30px;

}

::placeholder {
    color: hsla(0, 36%, 70%, 0.411);
}

#Email {
    height: 45px;
    width: 398px;
    color: hsla(0, 36%, 70%, 0.411);
    border: 1px solid hsla(0, 36%, 70%, 0.411);
    border-radius: 30px;
    padding: 0px 0px 0px 30px;
    outline: none;
}

.logo {
    position: absolute;
    bottom: 85%;
    left: 10%;
    z-index: 1;
}

#arrow {
    position: absolute;
    bottom: 26.5%;
    left: 45%;
}

.button {
    position: absolute;
    background: linear-gradient(0.25turn, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 30px;
    border: none;
    height: 50px;
    width: 90px;
    cursor: pointer;
    bottom: 0%;
    left: 80%;
    outline: none;
    box-shadow: 0px 10px 15px hsl(0, 71%, 89%);    
}

.button:hover {
    animation-name: background-color;
    animation-duration: 25ms;
    animation-fill-mode: forwards;
    box-shadow: 0px 15px 20px hsl(0, 22%, 69%);
}

@keyframes background-color {
    100% {
        background: hsl(0, 66%, 88%); 
        opacity: 100;
    }
}

#message {
    position: absolute;
    display: flex;
    bottom: -14%;
    left: 7%;
}

#error {
    position: absolute;
    bottom: 7%;
    left: 70%;

}

.container {
    position: relative;
    text-align: center;
}

@media screen and (max-width: 600px) {
    picture {
        width: 100%;
        order: 1;
    }
    .background {
        width: 100%;
        order: 2;
    }
}
/*picture {
    display: flex;
    flex: 50%;
    padding: 0;
    margin: 0;
}

.background {
    flex: 50%;
    padding: 0;
    margin: 0;
    position: relative;
}

.images {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 375px) {
    picture {
        display: flex;
        flex-direction: column;
    }
    .background {
        display: flex;
        flex-direction: column;
    }
}*/