* {
    font-family: 'Josefin Sans';
}
.girl {
    flex: 50%;
    padding: 0;
    margin: 0;
}

.background {
    flex: 50%;
    padding: 0;
    margin: 0;
    position: relative;
    /*z-index: -1;*/
}

.images {
    display: flex;
}

.mainText {
    position: absolute;
    bottom: 30%;
    left: 17%;
    text-align: left;
    font-size: 16px;
    color: hsla(0, 36%, 70%, 0.712);
    }
input {
    text-align: left;
    font-size: 16px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border: 1px solid hsla(0, 36%, 70%, 0.411);
    border-radius: 30px;

}

::placeholder {
    color: hsla(0, 36%, 70%, 0.411);
}

#Email {
    height: 45px;
    width: 398px;
    color: hsla(0, 36%, 70%, 0.411);
    border: 1px solid hsla(0, 36%, 70%, 0.411);
    border-radius: 30px;
    padding: 0px 0px 0px 30px;
    outline: none;
}

.comingSoon {
    font-size: 50px;
    position: absolute;
    bottom: 55%;
    left: 17%;
    letter-spacing: 0.3em;
}

.were {
    font-size: 50px;
    position: absolute;
    bottom: 68%;
    left: 17.5%;
    letter-spacing: 0.3em;
    color: hsla(0, 36%, 70%, 0.712);
}

.logo {
    position: absolute;
    bottom: 85%;
    left: 18%;
}

#arrow {
    position: absolute;
    bottom: 31.5%;
    left: 45%;
}

.button {
    position: relative;
    background: linear-gradient(0.25turn, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 30px;
    border: none;
    height: 50px;
    width: 90px;
    cursor: pointer;
    bottom: 29.5%;
    left: 58%;
    outline: none;
    
}

.button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes background-color {
    100% {
        background: hsl(0, 66%, 88%); 
    }
}

#message {
    position: absolute;
    color:  hsl(0, 74%, 74%);
    bottom: 20%;
    left: 14.5%;
}

#error {
    position: absolute;
    bottom: 7%;
    left: 70%;

}