
.girl{
    flex: 50%;
    padding: 0;
    margin: 0;
}

.background {
    flex: 50%;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: -1;
}

.images {
    display: flex;
}

.mainText {
    position: absolute;
    bottom: 30%;
    left: 17%;
    font-family: 'Josefin Sans';
    text-align: left;
    font-size: 16px;
    color: hsla(0, 36%, 70%, 0.712);
    }
input {
    text-align: left;
    font-family: 'Josefin Sans';
    font-size: 16px;

}

#Email {
    height: 45px;
    width: 420px;
    color: hsla(0, 36%, 70%, 0.411);
    border-radius: 30px;
    border: 1px solid hsla(0, 36%, 70%, 0.411);
}

.comingSoon {
    font-size: 50px;
    position: absolute;
    bottom: 55%;
    left: 17%;
    font-family: 'Josefin Sans';
    letter-spacing: 0.3em;
}

.were {
    font-size: 50px;
    position: absolute;
    bottom: 68%;
    left: 17.5%;
    font-family: 'Josefin Sans';
    letter-spacing: 0.3em;
    color: hsla(0, 36%, 70%, 0.712);
}

.logo {
    position: absolute;
    bottom: 85%;
    left: 15%;
}

#arrow {
    position: absolute;
    bottom: 20%;
    left: 45%;
}

